* {
  background-color: white;
  padding: 1px;
}

.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  align-content: center;


}

.box {
  padding-bottom: 40px;
}

.image {
  display: grid;
  align-content: center !important;
  justify-content: center;
  height: 300px;
  margin: auto;
  padding: auto;
}

.spacer {
  height: 145px;
  width: 100%;
  display: block;
  background-color: gold;

}

.text {
  display: block;
  text-align: center;
  margin: auto;
  color: gold;
  font-weight: 900;
  line-height: 30px;
  font-size: 18px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}